.center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}


.center1 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;

}